* {
  margin: 0;
  padding: 10;
}
body,
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  scroll-behavior: smooth;
}
h1 {
  font-size: 2em;
  color: rgb(196, 19, 19);
  text-align: center;
  padding: 20% 0 0 0;
  text-transform: uppercase;
}
.bottoneF {
  background-color: green;
  padding: 5px 10px;
  border-radius: 10px;
  color: aliceblue;
}

.sezione {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
#gennaio {
  background-color: #5500b5;
}

#febbraio {
  background-image: url("immagini/inverno.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400pt;
}

#marzo {
  font-size: 1.3em;
  background-image: url("immagini/primavera1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 450pt;
}
.marz {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0-10px black;
  color: blue;
}

#aprile {
  font-size: 1.3em;
  background-image: url("immagini/aprile2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400pt;
}
.apr {
  text-shadow: -1px 0 black, 0 10px black, 1px 0 black, 0-1px black;
  color: rgb(193, 202, 28);
}

table {
  text-shadow: -1px 0 #ff0000, 0 1px #ff0000, 1px 0 #ff0000, 0 -1px #ff0000;
  color: black;
  font-size: x-large;
  font-family: Arial;
  table-layout: auto;
}

.cambio {
  text-shadow: -1px 0 #ff0000, 0 1px #ff0000, 1px 0 #ff0000, 0 -1px #ff0000;
  color: black;
}
.cambioA {
  text-shadow: -1px 0 white, 0 1px black, 1px 0 black, 0 -1px black;
  color: black;
}
.bottoneF {
  background-color: green;
  padding: 5px 10px;
  border-radius: 10px;
  color: aliceblue;
}

.bottoneA {
  background-color: wheat;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}

.bottoneM {
  background-color: rgb(149, 177, 35);
  padding: 5px 10px;
  border-radius: 10px;
  color: aliceblue;
}
